{% extends 'base.html.twig' %}

{% block title %}Breakfasts{% endblock %}

{% block body %}
    <h1>Breakfasts</h1>
    {% for row in breakfasts|batch(4) %}
        <div class="row">
            {% for breakfast in row %}
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card border shadow lift">
                        <div class="card-body">
                            <div class="card-title">
                                <h2 class="font-weight-light">
                                    {{ breakfast }}
                                </h2>
                            </div>

                            <a href="{{ path('breakfast', { slug: breakfast.slug }) }}"
                               class="btn btn-sm btn-primary stretched-link">
                                View
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
